<tr>
<td><%= locals.name %></td>
<td><%= locals.password %> </td>
<td><%= locals.numPlayers %> / <%= locals.maxPlayers %>  </td>
<td><a href='/game/<%= locals.id %>/password' class="button">Join Game</a></td>
<td><a href='/game/<%= locals.id %>' class='button'>View Game</a></td>
</tr>