<h3>View Game</h3>
<h4><%= game.name %> - Started: <%= game.hasStarted %> </h4>
<table>
    <tr>
        <td>Player 1</td>
        <td><%= game.player1 %> </td>
        <td>
            <form method='POST' action='/game/<%= game.id %>/1/remove?_method=PUT'>
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>Player 2</td>
        <td><%= game.player2 %> </td>
        <td>
            <form method='POST' action='/game/<%= game.id %>/2/remove?_method=PUT'>
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
        <td>Player 3</td>
        <td><%= game.player3 %> </td>
        <td>
            <form method='POST' action='/game/<%= game.id %>/3/remove?_method=PUT'>
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>Player 4</td>
        <td><%= game.player4 %> </td>
        <td>
            <form method='POST' action='/game/<%= game.id %>/4/remove?_method=PUT'>
            <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form method='POST' action='/game/<%= game.id %>?_method=DELETE'>
    <button type="submit" class="warningbtn">Delete Game</button>
</form>
<form method='POST' action='/game/<%= game.id %>/start?_method=PUT'>
    <button type="submit" class="submitbtn">Start Game</button>
</form>